/* CSS Document */

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: sans-serif;
}

h1 {
  width: 100%;              /* make the width of the element the same as the body */
  margin: 0 -50%;           /* shifts horizontally so the element container recenters */
  text-align: center;       /* centers the text within its container */
  font-size: 8rem;
}

@keyframes spin {
  /* rotates the element 360 degrees by the end of the animation timeline */
  100% { transform: rotate(360deg); }
}

.spinning {
  position: absolute;
  top: 50%; 
  left: 50%; 
  color: #000;
  animation: spin 10s linear infinite; 
  /* shorthand for: 
     animation-name: spin;
     animation-duration: 10s;
     animation-timing-function: linear;
     animation-iteration-count: infinite; */
}

