body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 30px;
}

.columns {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.columns section {
  flex: 1;
  min-height: 300px;
  padding: 25px;
  border: 3px solid black;
}

@media (max-width: 700px) {
  .columns {
    flex-direction: column;
  }
}
