html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  background-image: url("assets/background.jpg");
  background-repeat: repeat;
  font-family: sans-serif;
}

div {
  width: 100%;
  height: 100vh;
  background-image: url("assets/background.jpg");
  background-repeat: repeat;
  opacity: 0.45;
}
